@charset "UTF-8";

/* -----------------------------------------------------------------

    Copyright  : 2026
    Created on : 2020-12-15, 11:52 AM
    Author     : Sébastien FOURNIER <fournier.sebastien@outlook.com>

    TEMPLATE CATALOG :
    =================

    1 ) Modules
    2 ) Core import
    3 ) Core
    4 ) Agency
    5 ) Contact us

------------------------------------------------------------------ */

/*--------------------------------------
   1 ) Modules
--------------------------------------*/

$enable-breadcrumb: true;
$enable-youtube: true;

/*-----------------------------------
   2 ) Core import
-----------------------------------*/

@import "../vendor";
@import "../components/contact-us";

.product-view-container {

    @include mediaQuery(min-md) {
        .layout-zone .wave-divider-bottom svg {
            width: calc(235% + 1.3px);
        }
    }

    .div-introduction {
        > *:last-child {
            margin-bottom: 0;
        }
    }

    .splide-container {

        .splide__track {
            margin-left: 0 !important;
        }

        .splide:not(.thumbnails-slider) {
            img {
                width: 100%;
            }
        }
    }

    .introduction {
        > *:last-child {
            margin-bottom: 0;
        }
    }

    .highlights {

        .card-header {

            .rounded-badge {

                width: 40px;
                height: 40px;
                border-radius: 1rem;

                i {
                    font-size: 25px;
                }
            }
        }

        .card-body * {
            font-size: 1rem !important;
        }
    }
}

/*-----------------------------------
   4 ) Agency
-----------------------------------*/

.body-agencies-page {

    .body:not([class^="lh-"]):not([class*=" lh-"]) *,
    .introduction:not([class^="lh-"]):not([class*=" lh-"]) * {
        line-height: 1.5
    }
}

/*-----------------------------------
   5 ) Contact us
-----------------------------------*/

.contact-us-container {

    .item {

        .rounded-badge {

            width: 45px;
            height: 45px;
            border-radius: 1rem;

            i {
                font-size: 20px;
            }
        }

        address {
            line-height: 1.2;
        }
    }
}