@charset "UTF-8";

/* -----------------------------------------------------------------

    Copyright  : 2026
    Created on : 2024-10-09, 8:55 PM
    Author     : Sébastien FOURNIER <fournier.sebastien@outlook.com>

    TEMPLATE CMS :
    ==============

    1 ) Modules
    2 ) Core import
    3 ) Core

------------------------------------------------------------------ */

/*--------------------------------------
   1 ) Modules
--------------------------------------*/

$enable-title-header: true;
$enable-breadcrumb: true;
$enable-pagination: true;

/*-----------------------------------
   2 ) Core import
-----------------------------------*/

@import "../components/information";
@import "../layout/breadcrumb";
@import "../components/blocks/title-header";
@import "../components/pagination";

/*-----------------------------------
   4 ) Core
-----------------------------------*/

/*-----------------------------------
   5 ) News
-----------------------------------*/

.first-news-block {

    .left {

        .img-loader-wrap, .img-loader, img {
            border-radius: 32px !important;
        }

        img {
            width: 100%;
        }
    }
}