@charset "UTF-8";

/* -----------------------------------------------------------------

    Copyright  : 2026
    Created on : 2024-10-09, 8:55 PM
    Author     : Sébastien FOURNIER <fournier.sebastien@outlook.com>

    TEMPLATE HOME :
    ===============

    1 ) Modules
    2 ) Core import
    3 ) Core
    4 ) Main carousel

------------------------------------------------------------------ */

/*--------------------------------------
   1 ) Modules
--------------------------------------*/

$enable-card: true;
$enable-form: false;
$enable-title-header: false;
$enable-breadcrumb: false;

/*-----------------------------------
   2 ) Core import
-----------------------------------*/

@import "../vendor";

/*-----------------------------------
   3 ) Core
-----------------------------------*/

.text-block {

    .body * {
        font-size: 19px;
    }

    .body:not([class^="lh-"]):not([class*=" lh-"]) * {
        line-height: 1.5
    }
}

.card-body {
    .body * {
        line-height: 1.2;
        font-size: 17px;
    }
}

/*-----------------------------------
   4 ) Main carousel
-----------------------------------*/

.carousel-main-home {

    padding-bottom: 9rem;

    @include mediaQuery(max-md) {
        padding-top: 7.5rem;
    }

    @include mediaQuery(min-md) {
        padding-top: 10rem;
    }

    .carousel-content {

        .content-wrap {

            .caption-title {
                font-size: clamp(2.5rem, 5vw, 5.3125rem);
                line-height: 109%;
            }

            .body * {
                font-size: clamp(1.35rem, 2vw, 1.625rem);
                line-height: 1.2;
            }
        }
    }
}