@charset "UTF-8";

/* -----------------------------------------------------------------

    Copyright  : 2026
    Created on : 2024-10-09, 8:55 PM
    Author     : Sébastien FOURNIER <fournier.sebastien@outlook.com>

    TEMPLATE HOME :
    ===============

    1 ) Modules
    2 ) Core import
    3 ) Main carousel

------------------------------------------------------------------ */

/*--------------------------------------
   1 ) Modules
--------------------------------------*/

$enable-card: true;
$enable-form: false;
$enable-title-header: false;
$enable-breadcrumb: false;

/*-----------------------------------
   2 ) Core import
-----------------------------------*/

@import "../vendor";

/*-----------------------------------
   3 ) Main carousel
-----------------------------------*/

.carousel-main-home {

    .carousel-item:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: transparentize($black, .2);
        z-index: 100;
    }

    .img-loader {
        width: 100% !important;
        max-width: 100% !important;
        max-height: initial !important;
    }

    .generating img {
        max-height: calc(100dvh - 139px) !important;
    }

    .carousel-caption {

        z-index: 500;

        .content-wrap {

            > strong {
                @include rfs(20px);
            }

            .caption-title {
                @include rfs(60px);
                line-height: 109%;
            }

            .body * {
                font-size: 1rem;
            }
        }
    }

    .main-wave-divider {

        .shape-fill {

            &:nth-child(1) {
                fill: $secondary;
            }

            &:nth-child(2) {
                fill: $primary;
            }

            &:nth-child(3) {
                fill: $light;
            }
        }
    }

    //img, .right, .left {
    //
    //    @include mediaQuery(min-lg) {
    //        height: 500px !important;
    //    }
    //
    //    @include mediaQuery(between-md-lg) {
    //        height: 550px !important;
    //    }
    //
    //    @include mediaQuery(max-md) {
    //        height: 634px !important;
    //    }
    //
    //    object-fit: cover;
    //}
}