### APP CONFIG ###

APP_DEBUG=1

### DOCTRINE ###

DB_HOST=localhost
DB_USER=root
DB_NAME=
DB_PASSWORD=
DB_PORT=3307
DB_VERSION=10.6.5-MariaDb

DB_HOST_DIRECT=
DB_USER_DIRECT=
DB_NAME_DIRECT=
DB_PASSWORD_DIRECT=
DB_PORT_DIRECT=
DB_VERSION_DIRECT=

### MAILER ###

# Use urlencode for any special character in username/password (+, @, $, #, /, :, *, !).
MAILER_DSN=smtp://USERNAME:PASSWORD@HOST:587