@charset "UTF-8";

/* -----------------------------------------------------------------
    Front - Dark Theme Variables
------------------------------------------------------------------ */

@import '../variables';

/*-- a - Color --*/

$white: #fff !global;
$black: #000 !global;

$gray-50: #f8f9fa !global;
$gray-100: #1a1b21 !global;
$gray-200: #212529 !global;
$gray-300: #343a40 !global;
$gray-400: #495057 !global;
$gray-500: #adb5bd !global;
$gray-600: #ced4da !global;
$gray-700: #2a2a2a !global;
$gray-800: #1e1e1e !global;
$gray-900: #121212 !global;

$primary: #ff7100 !global;
$primary-darken: darken($primary, 5%) !global;
$secondary: #a0524d !global;
$success: #5d7808 !global;
$info: #0081ac !global;
$warning: #f0ad4e !global;
$danger: #a82835 !global;
$danger-light: #ee9da5 !global;
$light: $gray-300 !global;
$lighten: $gray-200 !global;
$dark: $gray-900 !global;
$dark-lighten: $gray-800 !global;

$body-bg: #121212 !global;
$body-color: #e0e0e0 !global;

/*-- b - Footer --*/

$footer-bg: $gray-900 !global;
$footer-color: $body-color !global;
$footer-contact-bg: $gray-700 !global;
$footer-main-bg: $gray-800 !global;
$footer-bottom-bg: #000 !global;

/*-- b - Forms --*/

$shadow-color: #000 !global;
$input-label-color: $primary !global;
$input-background: $gray-200 !global;
$input-color: $gray-900 !global;
$input-border-color: $primary !global;
$placeholder-color: $gray-600 !global;
$form-file-button-bg: $primary !global;
$form-file-button-color: $white !global;
$form-file-button-hover-bg: $white !global;
$form-file-button-hover-color: $primary !global;

/*-- c - Buttons --*/

$buttons: (
    'primary': (
        'bg': $primary,
        'border': $primary,
        'color': $white,
        'bg-hover': darken($primary, 5%),
        'border-hover': darken($primary, 5%),
        'color-hover': darken($white, 5%),
        'bg-outline': transparent,
        'bg-outline-hover': $primary,
        'color-outline': $primary,
        'color-outline-hover': $white
    ),
    'primary-darken': (
        'bg': $primary-darken,
        'border': $primary-darken,
        'color': $white,
        'bg-hover': darken($primary-darken, 5%),
        'border-hover': darken($primary-darken, 5%),
        'color-hover': darken($white, 5%),
        'bg-outline': transparent,
        'bg-outline-hover': $primary-darken,
        'color-outline': $primary-darken,
        'color-outline-hover': $white
    ),
    'secondary': (
        'bg': $secondary,
        'color': $white,
        'bg-hover': $white,
        'color-hover': $secondary,
        'bg-outline': transparent,
        'bg-outline-hover': $secondary,
        'color-outline': $secondary,
        'color-outline-hover': $white
    ),
    'success': (
        'bg': $success,
        'color': $white,
        'bg-hover': $white,
        'color-hover': $success,
        'bg-outline': transparent,
        'bg-outline-hover': $success,
        'color-outline': $success,
        'color-outline-hover': $white
    ),
    'info': (
        'bg': $info,
        'color': $white,
        'bg-hover': $white,
        'color-hover': $info,
        'bg-outline': transparent,
        'bg-outline-hover': $info,
        'color-outline': $info,
        'color-outline-hover': $white
    ),
    'warning': (
        'bg': $warning,
        'color': $white,
        'bg-hover': $white,
        'color-hover': $warning,
        'bg-outline': transparent,
        'bg-outline-hover': $warning,
        'color-outline': $warning,
        'color-outline-hover': $white
    ),
    'danger': (
        'bg': $danger,
        'color': $white,
        'bg-hover': $white,
        'color-hover': $danger,
        'bg-outline': transparent,
        'bg-outline-hover': $danger,
        'color-outline': $danger,
        'color-outline-hover': $black
    ),
    'danger-light': (
        'bg': $danger-light,
        'color': $white,
        'bg-hover': $white,
        'color-hover': $danger-light,
        'bg-outline': transparent,
        'bg-outline-hover': $danger-light,
        'color-outline': $danger-light,
        'color-outline-hover': $black
    ),
    'light': (
        'bg': $light,
        'color': $black,
        'bg-hover': $black,
        'border-hover': $black,
        'color-hover': $light,
        'bg-outline': transparent,
        'bg-outline-hover': $light,
        'color-outline': $black,
        'color-outline-hover': $black
    ),
    'dark': (
        'bg': $dark,
        'color': $white,
        'bg-hover': $white,
        'color-hover': $dark,
        'bg-outline': transparent,
        'bg-outline-hover': $dark,
        'color-outline': $dark,
        'color-outline-hover': $white
    ),
    'dark-lighten': (
        'bg': $dark-lighten,
        'color': $white,
        'bg-hover': $white,
        'color-hover': $dark-lighten,
        'bg-outline': transparent,
        'bg-outline-hover': $dark-lighten,
        'color-outline': $dark-lighten,
        'color-outline-hover': $white
    ),
    'black': (
        'bg': $black,
        'color': $white,
        'bg-hover': $white,
        'color-hover': $black,
        'bg-outline': transparent,
        'bg-outline-hover': $black,
        'color-outline': $black,
        'color-outline-hover': $white
    ),
    'white': (
        'bg': $white,
        'border': $white,
        'color': $primary,
        'bg-hover': darken($white, 5%),
        'border-hover': darken($white, 5%),
        'color-hover': darken($primary, 5%),
        'bg-outline': transparent,
        'bg-outline-hover': $white,
        'color-outline': $white,
        'color-outline-hover': $primary,
        'border-outline-hover': $primary
    ),
) !global;

/*-- d - Alerts --*/

$alert-colors: (
    'primary': ('bg': $body-bg, 'color': $primary, 'border': $primary, 'color-icon': $white, 'bg-icon': $primary, 'font-size': $font-size-base),
    'secondary': ('bg': $body-bg, 'color': $secondary, 'border': $secondary, 'color-icon': $white, 'bg-icon': $secondary, 'font-size': $font-size-base),
    'success': ('bg': $body-bg, 'color': $success, 'border': $success, 'color-icon': $white, 'bg-icon': $success, 'font-size': $font-size-base),
    'info': ('bg': $body-bg, 'color': $info, 'border': $info, 'color-icon': $white, 'bg-icon': $info, 'font-size': $font-size-base),
    'warning': ('bg': $body-bg, 'color': $warning, 'border': $warning, 'color-icon': $white, 'bg-icon': $warning, 'font-size': $font-size-base),
    'danger': ('bg': $body-bg, 'color': $danger, 'border': $danger, 'color-icon': $white, 'bg-icon': $danger, 'font-size': $font-size-base),
    'danger-light': ('bg': $body-bg, 'color': $danger-light, 'border': $danger-light, 'color-icon': $white, 'bg-icon': $danger-light, 'font-size': $font-size-base),
    'light': ('bg': $body-bg, 'color': $gray-900, 'border': $light, 'color-icon': $gray-900, 'bg-icon': $light, 'font-size': $font-size-base),
    'dark': ('bg': $body-bg, 'color': $dark, 'border': $dark, 'color-icon': $white, 'bg-icon': $dark, 'font-size': $font-size-base),
    'black': ('bg': $black, 'color': $white, 'border': $black, 'color-icon': $white, 'bg-icon': $black, 'font-size': $font-size-base),
    'white': ('bg': $white, 'color': $dark, 'border': $dark, 'color-icon': $white, 'bg-icon': $dark, 'font-size': $font-size-base),
) !global;

/*-- e - Elements --*/

$elements: (
    'h1, h1 a, .h1, .h1 a': (
        'properties': (
            'color': $white,
            'font-weight': 600,
            'font-family': $font-title,
        ),
        'colors-in-backgrounds': (
            'primary': $white,
            'secondary': $white,
            'success': $body-color,
            'info': $white,
            'warning': $body-color,
            'danger': $white,
            'danger-light': $body-color,
            'light': $body-color,
            'dark': $white,
            'dark-lighten': $white,
            'white': $body-color,
        )
    ),
    'h2, h2 a, .h2, .h2 a': (
        'properties': (
            'color': $body-color,
            'font-weight': 700,
            'font-family': $font-title,
        ),
        'colors-in-backgrounds': (
            'primary': $white,
            'secondary': $white,
            'success': $body-color,
            'info': $white,
            'warning': $body-color,
            'danger': $white,
            'danger-light': $body-color,
            'light': $body-color,
            'dark': $white,
            'dark-lighten': $white,
            'white': $body-color,
        )
    ),
    'h2 span, .h2 span': (
        'properties': (
            'color': $primary,
        ),
        'colors-in-backgrounds': (
            'primary': $white,
            'secondary': $primary,
            'success': $primary,
            'info': $primary,
            'warning': $primary,
            'danger': $primary,
            'danger-light': $primary,
            'light': $primary,
            'dark': $primary,
            'dark-lighten': $primary,
            'white': $primary,
        )
    ),
    'h3, h3 a, .h3, .h3 a': (
        'properties': (
            'color': $body-color,
            'text-transform': initial,
            'font-weight': 300,
            'font-family': $font-title
        ),
        'colors-in-backgrounds': (
            'primary': $white,
            'secondary': $white,
            'success': $body-color,
            'info': $white,
            'warning': $body-color,
            'danger': $white,
            'danger-light': $body-color,
            'light': $body-color,
            'dark': $white,
            'dark-lighten': $white,
            'white': $body-color,
        )
    ),
    'h4, h4 a, .h4, .h4 a': (
        'properties': (
            'color': $body-color,
            'font-weight': 300,
            'font-family': $font-title,
        ),
        'colors-in-backgrounds': (
            'primary': $white,
            'secondary': $white,
            'success': $body-color,
            'info': $white,
            'warning': $body-color,
            'danger': $white,
            'danger-light': $body-color,
            'light': $body-color,
            'dark': $white,
            'dark-lighten': $white,
            'white': $body-color,
        )
    ),
    'h5, h5 a, .h5, .h5 a': (
        'properties': (
            'color': $body-color,
            'font-weight': 300,
            'font-family': $font-title,
        ),
        'colors-in-backgrounds': (
            'primary': $white,
            'secondary': $white,
            'success': $body-color,
            'info': $white,
            'warning': $body-color,
            'danger': $white,
            'danger-light': $body-color,
            'light': $body-color,
            'dark': $white,
            'dark-lighten': $white,
            'white': $body-color,
        )
    ),
    'h6, h6 a, .h6, .h6 a': (
        'properties': (
            'color': $body-color,
            'font-weight': 300,
            'font-family': $font-title,
        ),
        'colors-in-backgrounds': (
            'primary': $white,
            'secondary': $white,
            'success': $body-color,
            'info': $white,
            'warning': $body-color,
            'danger': $body-color,
            'danger-light': $body-color,
            'light': $body-color,
            'dark': $white,
            'dark-lighten': $white,
            'white': $body-color,
        )
    ),
    '.sub-title': (
        'properties': (
            'color': $body-color,
            'font-weight': 500,
        ),
        'colors-in-backgrounds': (
            'primary': $white,
            'secondary': $white,
            'success': $body-color,
            'info': $white,
            'warning': $body-color,
            'danger': $white,
            'danger-light': $body-color,
            'light': $body-color,
            'dark': $white,
            'dark-lighten': $white,
            'white': $body-color,
        )
    ),
    'p': (
        'properties': (
            'color': $body-color,
        ),
        'colors-in-backgrounds': (
            'primary': $white,
            'secondary': $white,
            'success': $body-color,
            'info': $white,
            'warning': $body-color,
            'danger': $white,
            'danger-light': $body-color,
            'light': $body-color,
            'dark': $white,
            'dark-lighten': $white,
            'white': $body-color,
        )
    ),
    '.body, p': (
        'properties': (
            'color': $body-color,
        ),
        'colors-in-backgrounds': (
            'primary': $white,
            'secondary': $white,
            'success': $body-color,
            'info': $white,
            'warning': $body-color,
            'danger': $white,
            'danger-light': $body-color,
            'light': $body-color,
            'dark': $white,
            'dark-lighten': $white,
            'white': $body-color,
        )
    ),
    'a.link, a.link span, a.link svg, .open-gdpr-modal.link, .body a, .introduction a, a.phone-link, a.email-link': (
        'properties': (
            'color': $primary,
            'transition': all .3s linear,
        ),
        'colors-in-backgrounds': (
            'primary': $white,
            'secondary': $primary,
            'success': $primary,
            'info': $primary,
            'warning': $primary,
            'danger': $primary,
            'danger-light': $primary,
            'light': $primary,
            'dark': $white,
            'dark-lighten': $white,
            'black': $white,
            'white': $primary,
        )
    ),
    'a:hover, a:hover .title, a:hover span, a.link:hover, a.link:hover span': (
        'properties': (
            'color': $primary,
            'transition': all .3s linear,
        ),
        'colors-in-backgrounds': (
            'primary': $white,
            'secondary': $primary,
            'success': $primary,
            'info': $primary,
            'warning': $primary,
            'danger': $primary,
            'danger-light': $primary,
            'light': $primary,
            'dark': $white,
            'dark-lighten': $white,
            'black': $white,
            'white': $primary,
        )
    ),
    '.news-category-title': (
        'properties': (
            'color': $secondary,
        ),
    ),
    'small': (
        'properties': (
            'font-size': ('xs': $font-size-small, 'sm': $font-size-small, 'md': $font-size-small, 'lg': $font-size-small, 'xl': $font-size-small),
        ),
    ),
    'span, small, time, figcaption, strong, i, .caption-title': (
        'properties': (
            'color': $body-color,
        ),
        'colors-in-backgrounds': (
            'primary': $white,
            'secondary': $white,
            'success': $body-color,
            'info': $white,
            'warning': $body-color,
            'danger': $white,
            'danger-light': $body-color,
            'light': $body-color,
            'dark': $white,
            'dark-lighten': $white,
            'white': $body-color,
        )
    ),
    'form .form-text': (
        'properties': (
            'color': $info,
        ),
        'colors-in-backgrounds': (
            'primary': $info !important,
            'primary-darken': $info !important,
            'secondary': $info !important,
            'success': $info !important,
            'info': $white !important,
            'warning': $info !important,
            'danger': $info !important,
            'danger-light': $info !important,
            'light': $info !important,
            'dark': $info !important,
            'dark-lighten': $info !important,
            'white': $info !important,
        )
    ),
    'svg-not-initial': (
        'excluded': true,
        'colors-in-backgrounds': (
            'primary': $white,
            'secondary': $white,
            'success': $body-color,
            'info': $white,
            'warning': $body-color,
            'danger': $white,
            'danger-light': $body-color,
            'light': $body-color,
            'dark': $white,
            'dark-lighten': $white,
            'white': $body-color,
        )
    ),
    'img-copyright-svg': (
        'excluded': true,
        'colors-in-backgrounds': (
            'primary': $white,
            'secondary': $white,
            'success': $primary,
            'info': $primary,
            'warning': $primary,
            'danger': $primary,
            'danger-light': $primary,
            'light': $primary,
            'dark': $white,
            'dark-lighten': $white,
            'black': $white,
            'white': $primary,
        )
    ),
    'link-block': (
        'excluded': true,
        'colors-in-backgrounds': (
            'primary': $white,
            'secondary': $white,
            'success': $primary,
            'info': $primary,
            'warning': $primary,
            'danger': $primary,
            'danger-light': $primary,
            'light': $primary,
            'dark': $white,
            'dark-lighten': $white,
            'black': $white,
            'white': $primary,
        )
    ),
    'link-block-hover': (
        'excluded': true,
        'colors-in-backgrounds': (
            'primary': $warning,
            'secondary': $warning,
            'success': $warning,
            'info': $white,
            'warning': $warning,
            'danger': $warning,
            'danger-light': $warning,
            'light': $warning,
            'dark': $warning,
            'dark-lighten': $warning,
            'white': $warning,
        )
    ),
    'carousel-indicator': (
        'excluded': true,
        'colors-in-backgrounds': (
            'primary': $white,
            'secondary': $white,
            'success': $primary,
            'info': $primary,
            'warning': $primary,
            'danger': $primary,
            'danger-light': $primary,
            'light': $primary,
            'dark': $white,
            'dark-lighten': $white,
            'white': $primary,
        )
    ),
    'information-container': (
        'excluded': true,
        'colors-in-backgrounds': (
            'primary': $white,
            'secondary': $white,
            'success': $primary,
            'info': $white,
            'warning': $primary,
            'danger': $white,
            'danger-light': $primary,
            'light': $primary,
            'dark': $white,
            'dark-lighten': $white,
            'white': $primary,
        )
    ),
    'information-container-hover': (
        'excluded': true,
        'colors-in-backgrounds': (
            'primary': $secondary,
            'secondary': $white,
            'success': $white,
            'info': $secondary,
            'warning': $white,
            'danger': $white,
            'danger-light': $white,
            'light': $secondary,
            'dark': $white,
            'dark-lighten': $white,
            'white': $secondary,
        )
    ),
    'bullet': (
        'excluded': true,
        'colors-in-backgrounds': (
            'primary': $white,
            'secondary': $white,
            'success': $primary,
            'info': $white,
            'warning': $primary,
            'danger': $white,
            'danger-light': $primary,
            'light': $primary,
            'dark': $white,
            'dark-lighten': $white,
            'white': $primary,
        )
    ),
    'form :not(.form-floating) .form-label span.label-wrap': (
        'excluded': true,
        'colors-in-backgrounds': (
            'primary': $white,
            'secondary': $white,
            'success': $body-color,
            'info': $white,
            'warning': $body-color,
            'danger': $white,
            'danger-light': $body-color,
            'light': $body-color,
            'dark': $white,
            'dark-lighten': $white,
            'white': $body-color,
        )
    ),
    'form:not(.floating-form) .form-label, form .file-group .form-label, form .form-check-label': (
        'excluded': true,
        'colors-in-backgrounds': (
            'primary': $white,
            'secondary': $white,
            'success': $body-color,
            'info': $white,
            'warning': $body-color,
            'danger': $white,
            'danger-light': $body-color,
            'light': $body-color,
            'dark': $white,
            'dark-lighten': $white,
            'white': $body-color,
        )
    ),
    '.asterisk, .invalid-feedback, sup.asterisk': (
        'excluded': true,
        'colors-in-backgrounds': (
            'primary': $danger !important,
            'secondary': $danger !important,
            'success': $danger !important,
            'info': $danger !important,
            'warning': $danger !important,
            'danger': $white !important,
            'danger-light': $danger !important,
            'light': $danger !important,
            'dark': $danger !important,
            'dark-lighten': $danger !important,
            'white': $danger !important,
        )
    ),
    '.asterisk-group': (
        'excluded': true,
        'colors-in-backgrounds': (
            'primary': $danger,
            'secondary': $danger,
            'success': $danger,
            'info': $danger,
            'warning': $danger,
            'danger': $white,
            'danger-light': $danger,
            'light': $danger,
            'dark': $danger,
            'dark-lighten': $danger,
            'white': $danger,
        )
    )
) !global;

/*-- f - Variables --*/

:root {
    --body-bg: #121212;
    --body-color: #e0e0e0;
    --main-navigation-bg: #1e1e1e;
    --footer-bg: #000000;
    --footer-color: #e0e0e0;
}

.dark-mode-switch a {
    color: #ff9800 !important; // Couleur soleil
}
