@charset "UTF-8";

/* -----------------------------------------------------------------
    Module : Fonts
    Copyright : 2026
    Author : Sébastien FOURNIER <fournier.sebastien@outlook.com>
------------------------------------------------------------------ */

@import "../vendor/mixin/fonts";

$fonts: (
    'Poppins-Regular': ('weight': 400, 'style': normal),
    'Poppins-SemiBold': ('weight': 600, 'style': normal),
);

@include font-face("Poppins", $fonts, sans-serif, woff2);

/*! purgecss start ignore */
@import "../../lib/fonts/icomoon-security";
/*! purgecss end ignore */