@charset "UTF-8";

.footer {

    height: 60px;
    color: transparentize($white, .5);

    .btn-icon {
        i {
            position: relative;
            top: 1px;
            left: 1px;
        }
    }
}