@charset "UTF-8";

.footer {

    height: 56px;
    color: $theme-text-muted;
    border-top: 1px solid $theme-border-subtle;

    .btn-icon {
        i {
            position: relative;
            top: 1px;
            left: 1px;
        }
    }
}