@charset "UTF-8";

/* -----------------------------------------------------------------

    Copyright  : 2026
    Created on : 2019-11-16, 7:24 AM
    Author     : Sébastien FOURNIER <fournier.sebastien@outlook.com>

    FRONT EACH TEXT :
    =================

------------------------------------------------------------------ */

@each $suffix, $color in $theme-colors {
    @if not index($default-bootstrap-colors, $suffix) {
        .text-#{$suffix}, .body.text-#{$suffix} *:not(a) {
            color: $color;
            fill: $color;
        }
    }
}