@charset "UTF-8";

/* -----------------------------------------------------------------

    Copyright  : 2026
    Created on : 2023-04-18, 8:40 AM
    Author     : Sébastien FOURNIER <fournier.sebastien@outlook.com>

    FRONT EACH HOVER :
    =================

------------------------------------------------------------------ */

@each $suffix, $color in $theme-colors {

    @if index($hover-colors, $suffix) {

        .hover-#{$suffix},
        .hover-underline-#{$suffix} {

            transition: $transition-fast;

            @include mediaQuery(min-lg) {
                &:hover {
                    transition: $transition-fast;
                    color: $color !important;
                }
            }
        }

        @include mediaQuery(min-lg) {
            .hover-underline-#{$suffix}:hover {
                color: $color !important;
                text-decoration: underline !important;
            }
        }

        .hover-svg-#{$suffix} {

            transition: $transition-fast;

            @include mediaQuery(min-lg) {
                &:hover, &:hover * {
                    transition: $transition-fast;
                    fill: $color !important;
                }
            }
        }
    }
}