@if ($enable-card) {

@charset "UTF-8";

    /* -----------------------------------------------------------------

        Copyright  : 2026
        Created on : 2021-08-13, 10:08 AM
        Author     : Sébastien FOURNIER <fournier.sebastien@outlook.com>

        FRONT CARD BLOCK :
        ==================

    ------------------------------------------------------------------ */

    .card-block {

        .wrap-icon {

            width: 54px;
            height: 54px;
            border-radius: 18px;
            background: $primary;

            svg {
                height: 24px;
                width: auto;
                fill: $white;
            }
        }

        $bgColors: map-get($elements, 'wrap-icon');
        @if map-has-key($bgColors, "colors-in-backgrounds") {
            @each $color-name, $color in map-get($bgColors, 'colors-in-backgrounds') {
                .card-body.bg-#{$color-name} .wrap-icon {
                    background: $color;
                }
            }
        }

        $svgColors: map-get($elements, 'wrap-icon-svg');
        @if map-has-key($svgColors, "colors-in-backgrounds") {
            @each $color-name, $color in map-get($svgColors, 'colors-in-backgrounds') {
                .card-body.bg-#{$color-name} .wrap-icon svg {
                    fill: #{$color};
                }
            }
        }

        .title {
            @include rfs(22px);
            line-height: 1.2;
            letter-spacing: -0.03em;
            max-width: 85%;
        }

        .text-block {
            max-width: 95%;
        }

        .link {
            font-weight: 700;
            font-size: 0.92rem;
        }
    }

    .card {

        padding: .75rem;

        .card-header {

            picture, .img-loader, picture img, .img-container, .img-hover-buttons-wrap, .img-loader, .img-loader-wrap {
                width: 100% !important;
                max-width: 100% !important;
                object-fit: cover;
            }

            @include mediaQuery(min-lg) {

                .img-container {

                    transition: transform 1.2s cubic-bezier(0.165, 0.84, 0.44, 1);

                    img {
                        transition: transform 1.2s cubic-bezier(0.165, 0.84, 0.44, 1);
                    }
                }
            }
        }

        &:not(.news-card) {

            border-radius: 20px;
            width: 100%;

            .card-header {
                picture, .img-loader, picture img, .img-container, .img-hover-buttons-wrap, .img-loader, .img-loader-wrap {
                    border-radius: 20px;
                }
            }
        }

        &.as-file {
            a {
                span {
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                    aspect-ratio: 1/1;
                    font-size: 14px;
                }
            }
        }

        &.product-card {

            .card-header {

                .circle-wrap-icon {

                    position: absolute;
                    bottom: -1.15rem;
                    right: 1rem;
                    width: 50px;
                    height: 50px;
                    text-decoration: none;
                    transition: all 0.3s ease;
                    z-index: 500;

                    &:not(.as-link) {
                        border-radius: 50%;
                    }

                    &.as-link {

                        border-radius: 50% 50% 50% 0;
                        transform: rotate(-45deg); // Oriente la pointe

                        i {
                            transform: rotate(45deg); // Redresse l'icône
                        }

                        &:hover {

                            border-radius: 50%;
                            transform: rotate(0) scale(1.1);
                            background-color: $secondary !important;

                            i {
                                transform: rotate(0);
                            }
                        }
                    }

                    i {
                        font-size: 20px;
                    }
                }
            }

            .card-body {

                .badge {
                    font-size: 12px;
                }

                .title-wrapper {
                    max-width: 80%;
                }

                .card-title {

                    @include rfs(18px);
                    letter-spacing: 0.02em;
                    position: relative;
                    display: inline-block;
                    transition: color 0.4s ease;

                    &:after {
                        content: '';
                        position: absolute;
                        bottom: -7px;
                        left: 0;
                        width: 45px;
                        height: 2px;
                        background-color: $primary;
                        transition: background-color 0.4s ease;
                    }

                    .city {
                        font-weight: 300 !important;
                        font-size: 14px;
                    }
                }

                .body-card {
                    font-size: 15px;
                }
            }

            .card-title:hover {

                color: $primary !important;
                transition: color 0.4s ease;

                &:after {
                    background-color: $secondary;
                    transition: background-color 0.4s ease;
                }
            }

            @include mediaQuery(min-lg) {
                .card-header:hover .img-container img {
                    transform: scale(1.05);
                }
            }
        }
    }

    body #body-page .card-block .card {

        .text-block {

            max-width: 80%;

            * {
                font-size: 14px !important;
            }

            ul:not(.no-dots):not(.nav):not(.dropdown-menu):not(.reset):not(.splide__list):not(.splide__pagination):not(.pagination):not(.carousel-indicators) {

                padding-left: .75rem !important;

                li:before {
                    margin-left: -.75rem !important;
                    top: 8px !important;
                    width: 5px !important;
                    height: 5px !important;
                    background-color: $gray-600 !important;
                }
            }
        }

        .link-block {
            a, a span {
                font-size: 14px !important;
            }
        }
    }

    .news-card {

        border-radius: $card-news-border-radius;

        .card-header {
            .img-loader-wrap, .img-loader, img, .img-hover-buttons-wrap, .img-hover-buttons-wrap .inner {
                border-radius: 32px !important;
            }
        }

        .card-text {
            font-size: 14px;
        }
    }
}