@charset "UTF-8";

/* -----------------------------------------------------------------

    Module : Médias
    Copyright : 2025
    Author : Sébastien FOURNIER <fournier.sebastien@outlook.com>

    1 ) Variables
    2 ) Core
    3 ) Media loader
    4 ) Media Infos
    5 ) Media copyright
    6 ) Media hover
    7 ) Medias with pictogram
    8 ) Medias with secondary
    9 ) Medias with pictogram & secondary

------------------------------------------------------------------ */

/*----------------------------------------------
   1 ) Variables
----------------------------------------------*/

$pictogramSize: 100px;
$pictogramGap: $pictogramSize / 2;
$mediaGap: 60px;

/*----------------------------------------------
   2 ) Core
----------------------------------------------*/

.media-block {
    .media-content.have-content-side {
        .img-loader-wrap {
            flex: 0 0 auto;
        }
    }
}

body {
    svg {
        vertical-align: initial;
    }
}

/*----------------------------------------------
   3 ) Media loader
----------------------------------------------*/

.img-loader-wrap {

    z-index: 10;

    &.generating, &.generating .inner {
        width: 100% !important;
        height: 100% !important;
        background-size: cover !important;
        background-position: center !important;
        display: inline-block !important;
    }

    .spinner-wrap {
        z-index: 20;
    }

    .hx-include-media-loader.generated {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
    }
}

/*----------------------------------------------
   4 ) Media Infos
----------------------------------------------*/

.infos-img {

    .img-copyright,
    .img-not-contractual  {

        font-size: 12px;

        i {
            top: 2px;
            margin-top: -3px;
        }
    }
}

/*----------------------------------------------
   5 ) Media copyright
----------------------------------------------*/

$imgCopyright: map-get($elements, 'img-copyright-svg');
@if map-has-key($imgCopyright, "colors-in-backgrounds") {
    @each $color-name, $color in map-get($imgCopyright, 'colors-in-backgrounds') {
        .bg-#{$color-name} .img-copyright {
            svg {
                fill: $color !important;
            }
        }
    }
}

/*----------------------------------------------
   6 ) Media hover
----------------------------------------------*/

.img-hover-buttons-wrap {

    display: inline-block !important;

    > picture {

        display: inline-block !important;

        img {
            transform: scale(1);
            transition: all .5s ease-in-out;
        }
    }

    .inner {

        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        z-index: 300;

        &:not(.only-one) {
            background-color: transparentize($primary, .1);
            transition: all .6s ease-in-out;
            clip-path: circle(0.0% at 0 100%);
        }

        .label {
            font-size: 12px;
        }

        &.only-one {

            .item {

                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                .wrap {
                    width: 100%;
                    height: 100%;
                    transition: all .6s ease-in-out;
                    background-color: transparentize($primary, .1);
                    clip-path: circle(0.0% at 0 100%);
                }
            }
        }

        img, i {
            @include rfs(35px);
        }
    }

    &.only-one .links-wrap {
        width: 100%;
        height: 100%;
    }

    &:hover, &.focused-el {

        > picture img {
            transform: scale(1.1);
            transition: all .5s ease-in-out;
        }

        &:not(.only-one) {
            .inner {
                transition: all .6s ease-in-out;
                clip-path: circle(141.4% at 0 100%);
            }
        }

        &.only-one {
            .inner .item {
                .wrap {
                    transition: all .6s ease-in-out;
                    clip-path: circle(141.4% at 0 100%);
                }
            }
        }
    }
}

/*----------------------------------------------
   7 ) Medias with pictogram
----------------------------------------------*/

@if $enable-media-pictogram {

    .media-block {

        &.have-pictogram {

            .pictogram-wrap {

                width: $pictogramSize;
                height: $pictogramSize;
                background-color: $white;

                img {
                    max-width: $pictogramGap;
                    max-height: $pictogramGap;
                }
            }
        }

        &.have-pictogram-start,
        &.have-pictogram-end {
            max-width: calc(100% - #{$pictogramGap});
        }

        &.have-pictogram-top {
            .pictogram-container {
                top: calc(-1 * #{$pictogramGap});
            }
        }

        &.have-pictogram-bottom {
            .pictogram-container {
                bottom: calc(-1 * #{$pictogramGap});
            }
        }

        &.have-pictogram-start {

            margin-left: #{$pictogramGap};

            .pictogram-container {
                left: calc(-1 * #{$pictogramGap});
            }
        }

        &.have-pictogram-end {
            .pictogram-container {
                right: calc(-1 * #{$pictogramGap});
            }
        }
    }
}

/*----------------------------------------------
   8 ) Medias with secondary
----------------------------------------------*/

@if $enable-media-secondary {

    .media-block {

        &.have-media-secondary {

            @if $mediaGap > $pictogramGap {
                &.have-media-secondary-start,
                &.have-media-secondary-end {
                    max-width: calc(100% - #{$mediaGap});
                }
            }

            &.have-media-secondary-start {

                margin-left: $mediaGap;

                .media-secondary-container {
                    left: calc(-1 * #{$mediaGap});
                }
            }

            &.have-media-secondary-end {

                margin-right: $mediaGap;

                .media-secondary-container {
                    right: calc(-1 * #{$mediaGap});
                }
            }

            .media-secondary-container {

                &.have-media-secondary-start,
                &.have-media-secondary-end {
                    max-width: calc(100% - #{$mediaGap});
                }

                img {

                    width: auto;
                    object-fit: cover;

                    @include mediaQuery(max-sm) {
                        height: 130px;
                    }

                    @include mediaQuery(between-sm-md) {
                        height: 200px;
                    }

                    @include mediaQuery(min-md) {
                        height: 240px;
                    }
                }
            }
        }
    }
}

/*----------------------------------------------
   9 ) Medias with pictogram & secondary
----------------------------------------------*/

@if $enable-media-secondary and $enable-media-pictogram {
    .media-block {
        &.have-pictogram.have-media-secondary {
            &.have-pictogram-end.have-media-secondary-start {
                max-width: calc(100% - calc(#{$pictogramGap} + #{$mediaGap}));
            }
        }
    }
}