/* -----------------------------------------------------------------
    Module : Title
    Copyright : 2025
    Author : Sébastien FOURNIER <fournier.sebastien@outlook.com>
------------------------------------------------------------------ */

.title-block {

    .title {
        z-index: 100;
        word-break: break-word;
    }
}