@charset "UTF-8";

@if ($enable-title-header) {
    
    /* -----------------------------------------------------------------
    
        Copyright  : 2026
        Created on : 2020-10-23, 10:38 AM
        Author     : Sébastien FOURNIER <fournier.sebastien@outlook.com>
    
        FRONT VENDOR TITLE HEADER BLOCK :
        ================================
    
    ------------------------------------------------------------------ */

    $height-large-xs: 350px;
    $height-large-md: 400px;
    $height-large-lg: calc(50dvh - 85px);

    $height-xs: 300px;
    $height-md: 350px;
    $height-lg: 300px;

    #body-catalog-agencies .title-header-block {
        padding-bottom: 12.5rem;
    }

    .title-header-block {

        @include mediaQuery(max-lg) {
            padding-top: 6.5rem;
        }

        @include mediaQuery(min-md) {
            padding-top: 11rem;
        }

        overflow: hidden;
        word-wrap: break-word;

        * {
            word-wrap: break-word;
        }

        .body * {
            font-size: 22px;
            line-height: 1.2;
        }

        .features {

            .feature {

                border-radius: .5rem;

                i {
                    width: 30px;
                    height: 30px;
                    font-size: 17px;
                    border-radius: .25rem;
                }

                li {

                    padding-left: .75rem !important;

                    &:before {
                        margin-left: -.75rem;
                    }
                }
            }
        }
    }
}