@charset "UTF-8";

/* -----------------------------------------------------------------

    Copyright  : 2026
    Created on : 2020-12-15, 11:52 AM
    Author     : Sébastien FOURNIER <fournier.sebastien@outlook.com>

    TEMPLATE CATALOG :
    =================

    1 ) Modules
    2 ) Core import
    3 ) Core
    4 ) Agency highlights
    5 ) Contact us

------------------------------------------------------------------ */

/*--------------------------------------
   1 ) Modules
--------------------------------------*/

$enable-breadcrumb: true;
$enable-youtube: true;

/*-----------------------------------
   2 ) Core import
-----------------------------------*/

@import "../vendor";
@import "../components/contact-us";

/*-----------------------------------
   3 ) Core
-----------------------------------*/

.product-view-container {

    .div-introduction {
        > *:last-child {
            margin-bottom: 0;
        }
    }

    .splide-container {
        .splide:not(.thumbnails-slider) {
            img {
                width: 100%;
            }
        }
    }

    .introduction {
        > *:last-child {
            margin-bottom: 0;
        }
    }
}

/*-----------------------------------
   4 ) Agency highlights
-----------------------------------*/

.agency-highlights {

    .card-header {

        .rounded-badge {

            width: 40px;
            height: 40px;
            border-radius: 1rem;

            i {
                font-size: 25px;
            }
        }
    }
}

/*-----------------------------------
   5 ) Contact us
-----------------------------------*/

.contact-us-container {

    .item {

        .rounded-badge {

            width: 60px;
            height: 60px;
            border-radius: 1rem;

            i {
                font-size: 35px;
            }
        }

        address {
            line-height: 1.2;
        }
    }
}