@charset "UTF-8";

/* -----------------------------------------------------------------

    Copyright  : 2020
    Created on : 2020-12-15, 11:52 AM
    Author     : Sébastien FOURNIER <fournier.sebastien@outlook.com>

    TEMPLATE CATALOG :
    =================

    1 ) Modules
    2 ) Core import
    3 ) Core

------------------------------------------------------------------ */

/*--------------------------------------
   1 ) Modules
--------------------------------------*/

$enable-breadcrumb: true;
$enable-youtube: true;

/*-----------------------------------
   2 ) Core import
-----------------------------------*/

@import "../vendor";

/*-----------------------------------
   3 ) Core
-----------------------------------*/

.product-view-container {

    .div-introduction {
        > *:last-child {
            margin-bottom: 0;
        }
    }

    .splide-container {
        .splide:not(.thumbnails-slider) {
            img {
                width: 100%;
            }
        }
    }
}