@charset "UTF-8";

/* -----------------------------------------------------------------
    Module : App
    Copyright : 2026
    Author : Sébastien FOURNIER <fournier.sebastien@outlook.com>
------------------------------------------------------------------ */

/*-----------------------------------
   1 ) Core
-----------------------------------*/

body {

    font-family: $font-family-sans-serif;
    font-size: 15px;
    overflow-x: hidden;
    background-color: $bg-body;
    min-height: 100dvh;

    .fz-small {
        font-size: 12px;
    }

    .fz-smaller {
        font-size: 14px;
    }

    a {

        transition: color 0.3s ease-in-out;

        @include mediaQuery(min-lg) {
            &.text-white-50:hover {
                transition: color 0.3s ease-in-out;
                color: transparentize($white, .25) !important;
            }
        }
    }

    .info-request {
        h5 {
            @include rfs(20px);
            font-weight: 600;
        }
    }
}

* {
    outline: none !important;
}

.text-italic {
    font-style: italic !important;
}

.alert .btn-close {
    display: none !important;
}

svg.dark {
    fill: $gray-800;
}

svg.primary {
    fill: $link-color;
}

ul.reset {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a {
    text-decoration: none !important;
    color: $link-color;
}

.login-register {

    padding: 0;
    margin-top: 0;
    min-height: 100vh;
    width: calc(100% - 400px);

    #bg-container {
        position: fixed;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-position: center center !important;
        background: url(../../../medias/images/security/background-security.jpg);
        top: 0;
        left: 0;
        bottom: 0;
        width: calc(100% - 400px);
    }

    &:after {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: calc(100% - 400px);
        background: $card-bg-gradient;
        opacity: .6;
    }

    .login-box {

        width: 400px;
        margin: 0 auto;
        background: $card-bg-gradient;
        min-height: 100%;
        position: absolute;
        right: 0;
        bottom: 0;
        top: 0;
        height: 100%;
        box-shadow: $card-shadow;

        #logo {

            max-height: 130px;
            max-width: 85%;
            width: auto;
            fill: $primary;

            * {
                fill: $primary;
            }
        }
    }

    .alert {
        margin-top: 1.25rem;
        font-size: 14px;
    }
}

/*-----------------------------------
   3 ) Responsive
-----------------------------------*/

@media(max-width: 991px) {

    body .login-sidebar {

        width: 100% !important;

        #content {
            min-height: calc(100vh - 190px);
        }

        .login-box {

            position: relative !important;
            z-index: 2;
            width: 100%;
            max-width: 100%;
            min-height: 100vh;
            left: 0;
            right: 0;
            display: inline-block;
            margin: 0;
        }
    }
}