@charset "UTF-8";

/* -----------------------------------------------------------------
    Module : Form
    Copyright : 2026
    Author : Sébastien FOURNIER <fournier.sebastien@outlook.com>
------------------------------------------------------------------ */

html body form .form-field-none {
    position: absolute;
    left: -1000%;
}

#strength-wrap {

    .progress {
        height: 6px;
        border-radius: 5px;
        background-color: $surface-bg-light !important;
    }

    #strength-bar {
        border-radius: 5px;
    }

    #strength-text {
        font-size: 12px;
        color: transparentize($white, .5) !important;
    }
}

.checkbox-group {
    overflow: initial !important;
}

.input-group {

    .form-control, .form-control.is-invalid {
        border-right-color: transparent !important;
    }

    .input-group-text.show-password {

        .show-icon, .hide-icon {

            align-items: center;
            background: $card-icon-bg;
            border-color: $card-icon-border;
            border-radius: $card-icon-radius;
            color: transparentize($white, .5);
            display: flex;
            flex: 0 0 auto;
            height: $card-icon-size;
            justify-content: center;
            width: $card-icon-size;
            transition: color .3s ease-in-out;

            i {
                font-size: 1rem;
            }

            @include mediaQuery(min-lg) {

                cursor: pointer;

                &:hover {
                    color: transparentize($white, .25);
                }
            }
        }
    }
}

.group-form {
    .input-group-text {
        transition: border-color 0.15s ease-in-out;
    }
}

.focus-group {

    box-shadow: $input-focus-box-shadow;
    border-radius: $input-border-radius;
    border-color: $input-focus-border-color;

    .form-control {
        box-shadow: none !important;
    }

    .input-group-text {
        border-color: $input-focus-border-color;
        transition: border-color 0.15s ease-in-out;
    }
}

.form-check {

    display: flex;
    align-items: center;
    gap: .5rem;

    @include mediaQuery(max-sm) {
        justify-content: center;
    }
}

.form-check-input {

    border-color: $input-border-color !important;

    &[type="checkbox"] {
        border-radius: .25em;
    }

    &:checked {

        background-color: var(--bs-primary) !important;
        border-color: var(--bs-primary) !important;
        box-shadow: none !important;

        &[type="checkbox"] {
            background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='#{$form-check-input-checked-color}' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/></svg>") !important;
        }
    }
}

.form-check-label {

    transition: color 0.3s ease-in-out;
    color: transparentize($white, .5);
    font-size: 12px;
    line-height: 1;

    @include mediaQuery(min-lg) {
        &:hover {
            cursor: pointer;
            color: transparentize($white, .25);
        }
    }
}

.form-floating {

    .form-control-plaintext,
    .form-control,
    .input-group > .form-control,
    .form-control-plaintext:not(:placeholder-shown),
    .form-control:not(:placeholder-shown),
    .input-group > .form-control:not(:placeholder-shown) {
        padding-bottom: .25rem !important;
        padding-top: 1.625rem !important;
    }

    .form-label {
        transform: scale(.85) translateY(-.35rem) translateX(.15rem) !important;
    }
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
    background-image: $input-invalid-bg !important;
    background-size: 100% 100% !important;
    background-position: initial !important;
    outline: 0 none !important;
    transition-duration: .3s !important;
    border: 1px solid $input-border-color-invalid !important;
}

.form-control-line .form-group {
    overflow: hidden;
}

.custom-control-label {
    font-weight: 300;
    font-size: 13px;
    line-height: 22px;
}

.form-control-line .form-control {

    border: 0;
    border-radius: 0;
    padding-left: 0;
    border-bottom: 1px solid $gray-200;

    &:focus {
        border-bottom: 1px solid $primary;
    }
}

form {

    .form-group.is-invalid {
        margin-bottom: .3rem !important;
    }

    .invalid-feedback {

        font-size: 11px;
        color: lighten($danger, 7%);

        .badge {
            display: none;
        }
    }

    .is-invalid {
        .input-group-text {
            border-color: $input-border-color-invalid;
        }
    }
}