#medias-library-modal {

    .edit-medias-btns {
        display: none !important;
    }

    #search-medias-form {
        min-width: 300px;
        max-width: 40%;
    }

    .media-selector {
        border: none !important;
    }

    .inner {
        position: relative;
    }

    #medias-results-container {
        justify-content: center;
    }

    .file {

        cursor: pointer;

        label {
            cursor: pointer;
        }

        &.active {

            .file-data {

                .check-media {

                    display: inline-flex !important;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    align-items: center;
                    justify-content: center;
                    background: rgba(0, 0, 0, .5);
                    border-radius: $border-radius;

                    i {
                        font-size: 35px;
                        opacity: .7;
                    }
                }
            }
        }
    }
}
