@charset "UTF-8";

/* -----------------------------------------------------------------

    Created on : 2019-10-09, 8:55 PM
    Author     : Sébastien FOURNIER <fournier.sebastien@outlook.com>

    ERROR :
    ======

------------------------------------------------------------------ */

@import '../variables';

#errorStatus {

    .h1 {
        @include rfs(70px);
        font-weight: 900;
        color: $info-darken !important;
        line-height: 1;
    }

    h2 {
        font-weight: 700;
        line-height: 1;
    }

    p:not(.text-danger) {
        color: $body-color !important;
    }
}