@charset "UTF-8";

/* -----------------------------------------------------------------

    Created on : 2019-09-18, 7:08 PM
    Author     : Sébastien FOURNIER <fournier.sebastien@outlook.com>

    ICONS LIBRARY :
    ==============

    1 ) Variables
    2 ) Main

------------------------------------------------------------------ */

/*-----------------------------------
   1 ) Variables
-----------------------------------*/

@import '../variables';

/*-----------------------------------
   2 ) Main
-----------------------------------*/

#add-icon-btn {
    .btn {
        width: 100%;
        height: 100%;
    }
}

#cssclasses-collection {

    .prototype {

        margin-bottom: 15px;

        &:hover {
            .swal-delete-link {
                opacity: 1;
                transition: all .2s;
            }
        }
    }
}

#icons-contents {

    .tab-pane {

        .glyphs div.item {

            .icon-wrap {

                position: relative;
                padding: .5rem .75rem;
                transition: all linear .15s;
                background: $bg-gradient-primary;
                border-radius: $border-radius;
                border: 1px solid $crumb-border;
                overflow: hidden;
                min-height: 73px;

                .img-wrap {
                    width: 60px;
                    height: 60px;
                    flex: 0 0 60px;
                    border-radius: 20px;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    background: rgba($primary, 0.14);
                    border: 1px solid rgba($primary, 0.28);
                }

                .img-icon {
                    max-height: 30px;
                    max-width: 45px;
                }

                & > div {
                    font-size: .8125rem;
                }
            }
        }
    }
}