@charset "UTF-8";

/* -----------------------------------------------------------------

    Module : Medias cropper
    Author : Sébastien FOURNIER <fournier.sebastien@outlook.com>

    Sommaire :
      1 ) Imports
      2 ) Index
      3 ) Crop card
      4 ) Crop modal

------------------------------------------------------------------ */

/*-----------------------------------
   1 ) Imports
-----------------------------------*/

@import '../variables';
@import "../lib/cropper";

/*-----------------------------------
   2 ) Index
-----------------------------------*/

#medias-croppers-index {

    .card-header {
        border-top-right-radius: $radius-lg;
        border-top-left-radius: $radius-lg;
    }
}

/*-----------------------------------
   3 ) Crop card
-----------------------------------*/

.crop-card {

    background-color: $crumb-surface;

    .info-body {
        background-color: $white;
    }
}

/*-----------------------------------
   4 ) Crop modal
-----------------------------------*/

.crop-modal {

    .img-container {
        position: relative;
        width: 100%;
        max-height: 500px;
    }

    .docs-buttons .btn,
    .refresh-cropper-sizes {
        min-height: 38px;
        line-height: 24px;
        min-width: 38px;
    }
}
