@charset "UTF-8";

/* -----------------------------------------------------------------

    Created on : 2019-09-02, 1:10 PM
    Author     : Sébastien FOURNIER <fournier.sebastien@outlook.com>

    MENU :
    =====

    1 ) Variables
    2 ) List of Pages
    3 ) Add link card
    4 ) ConfigurationModel
    5 ) Tree

------------------------------------------------------------------ */

/*-----------------------------------
   1 ) Variables
-----------------------------------*/

@import '../variables';
@import '../../vendor/mixin/media-queries';

/*-----------------------------------
   2 ) List of Pages
-----------------------------------*/

#page-selector-menu {

    .select2-container {
        width: calc(100% - 45px) !important;
    }

    .select2-selection--single:not([class*="bg-"]):not([class*="border-"]) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border: 0 !important;
        height: 45px;
    }

    .select2-selection__rendered {
        height: 45px;
    }

    .select2-selection__arrow {
        top: 10px !important;
    }

    .select2-results {
        border-radius: 0 0 16px 16px !important;
    }

    .input-group-append,
    .input-group-text {

        border: 0;
        color: $white;
        height: 45px;
        width: 45px;
        padding: 0 !important;

        i {
            font-size: 13px;
        }
    }
}

#pages-list {

    .collapse-icon {

        display: inline-block;
        font-size: 10px;

        @include mediaQuery(min-lg) {
            &:hover {
                color: $dash-lighten;
            }
        }

        &:not(.collapsed) {
            transform: rotate(180deg);
        }
    }

    .inner {

        padding: 2px 0;

        @include mediaQuery(min-lg) {
            &:hover {
                background: rgba($info, 0.05);
            }
        }
    }
}

.tree-toggle-actions {
    .btn {
        padding: 0.1rem 0.4rem;
        font-size: 0.75rem;
    }
}

/*-----------------------------------
   3 ) Add link card
-----------------------------------*/

#add-link-card {
    .form-group {
        width: 100%;
    }
}

/*-----------------------------------
   4 ) ConfigurationModel
-----------------------------------*/

#menu-edit-page {
    #nestable-list {
        margin-bottom: 0 !important;
    }
}

/*-----------------------------------
   5 ) Tree
-----------------------------------*/

#nestable-list {
    margin-top: -8px;
}