@charset "UTF-8";

/* -----------------------------------------------------------------
    Module : Translations
    Copyright : 2026
    Author : Sébastien FOURNIER <fournier.sebastien@outlook.com>
------------------------------------------------------------------ */

/*-----------------------------------
   1 ) Core
-----------------------------------*/

@import "../../vendor/mixin/media-queries";
@import '../variables';

table {

    .domain-label {
        font-size: 12px;
    }

    .text-warning {
        font-size: 11px;
    }

    .progress {
        border: 1px solid $crumb-border;
        background-color: $dash-surface-3;
        height: 6px;
    }

    .translation-input.form-control {
        padding-left: 1rem !important;
        height: 45px !important;
        font-size: 12px !important;
    }

    tr > td {
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }
}

.translations-domain {

    tbody tr > td:nth-of-type(1) {
        font-size: 12px !important;
    }

    .form-group.has-success {
        .input-group {
            border: 1px solid $success !important;
        }
    }

    .form-group.empty {
        .input-group {
            border: 1px solid $warning !important;
        }
    }
}

/*-----------------------------------
   2 ) Generator
-----------------------------------*/

#translation-generator {

    position: relative;
    min-height: 250px;
    border: 1px solid $crumb-border;
    border-radius: $card-border-radius;
    background-color: $dash-surface-3;
    overflow: hidden;

    h4 {
        font-size: 13px;
    }

    .refresh-container {

        position: initial;

        .refresh-block {

            .extraction-title img {
                max-height: 20px;
            }

            .inner {

                position: absolute;
                left: 0;
                right: 0;
                top: 50%;
                transform: translateY(-50%);

                i {
                    font-size: 20px;
                    color: rgba(0, 0, 0, 0.7);
                }
            }
        }
    }
}

.progress-block {

    strong {
        font-size: 11px;
    }

    .locale-badge {
        width: 17px;
        height: 17px;
        flex: 0 0 17px;
        border-radius: 6px;
    }

    .progress {
        height: 6px;
        border-radius: 3px;
    }
}

#translation-progress {
    padding: 30px 30px 15px 30px;
}