@if ($enable-faq) {

@charset "UTF-8";

    /* -----------------------------------------------------------------
    
        Copyright  : 2022
        Created on : 2022-01-15, 1:15 PM
        Author     : Sébastien FOURNIER <contact@sebastien-fournier.com>
    
        FAQ :
        ====
    
    ------------------------------------------------------------------ */

    .faq-accordion {

        .accordion-header {

            .accordion-button {

                border-radius: 20px 0 !important;
                padding-left: 1.75rem;
                box-shadow: 2px 2px 0 0 $secondary;
                transition: border-radius .3s linear;

                &:not(.collapsed) {
                    transition: border-radius .3s linear;
                    border-bottom-right-radius: 0 !important;
                }
            }

            .badge-wrap {
                margin-top: -2.25rem;
            }

            .info {
                font-size: 14px;
            }
        }

        .accordion-item {
            box-shadow: 0 8px 8px -6px rgba(0, 0, 0, 0.2);
            border-bottom: 0 !important;
            border-radius: 20px 0 !important;
        }

        .accordion-collapse {

            box-shadow: 2px 2px 0 0 $gray-400 !important;
            border-radius: 0 0 20px 0 !important;

            .content {

                border-radius: 0 0 20px 0 !important;

                > *:last-child {
                    margin-bottom: 0 !important;
                }
            }
        }
    }
}