@charset "UTF-8";

/* -----------------------------------------------------------------

    Copyright  : 2026
    Created on : 2021-09-05, 6:25 AM
    Author     : Sébastien FOURNIER <fournier.sebastien@outlook.com>

    FRONT INFORMATION COMPONENTS :
    =============================

------------------------------------------------------------------ */

body .information-container {

    .title {
        font-size: rem(25px);
        line-height: rem(25px);
    }

    *:not(.title) {
        font-size: 1rem !important;
        line-height: 1.2 !important;
    }

    ul {
        a:hover {
            transition: $transition-base;
            color: $primary !important;
        }
    }

    svg {
        height: 18px;
        width: auto;
        fill: $primary !important;
    }

    ul li:not(:last-child){
        margin-bottom: .5rem !important;
    }

    .address-information {

        address  {

            &:last-child {
                margin-bottom: 0;
            }

            ul {
                margin-top: 1rem !important;
            }
        }
    }
}