.masked-wrap {

    display: block;
    width: 100%;
    max-width: 100%;

    * {
        width: 100%;
        height: auto;
    }

    .img-loader,
    .img-loader-wrap,
    picture,
    img {
        object-fit: cover;
        width: 100%;
        height: auto;
    }
}

.masked-wrap-primary {
    mask: url(../../../../medias/images/front/default/blob.svg) no-repeat center / 100% 100%;
}

.masked-wrap-secondary {
    mask: url(../../../../medias/images/front/default/blob.svg) no-repeat center / 100% 100%;
}