@if ($enable-table) {

@charset "UTF-8";

    /* -----------------------------------------------------------------

        Copyright  : 2026
        Created on : 2021-07-13, 12:05 PM
        Author     : Sébastien FOURNIER <fournier.sebastien@outlook.com>

        FRONT TABLE COMPONENTS :
        =======================

    ------------------------------------------------------------------ */

    .table {
        max-width: 100% !important;
    }

    @include mediaQuery(max-lg) {

        .table > :not(caption) > * > * {
            padding: 1.25rem 1.5rem !important;
        }

        .table-responsive {
            &.have-head thead,
            &.no-head-body tr:first-child,
            &.no-head tbody tr:first-child {
                display: none !important;
            }
        }

        .table-responsive tr {
            display: block !important;
            width: 100% !important;
        }

        .table-responsive thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px
        }

        .table-responsive {

            tr {

                border: 1px solid $gray-400;
                margin-bottom: 1rem;
                width: calc(100% - 2px) !important;

                td {

                    border: none;
                    border-bottom: 1px solid $gray-400;
                    position: relative;
                    white-space: normal;
                    text-align: left;
                    font-size: rem(14px);
                    padding: 1rem;
                    display: flex !important;
                    flex-direction: column;
                    width: 100% !important;

                    .table-title {
                        font-weight: 600;
                        color: $primary;
                        margin-bottom: 0.25rem;
                        display: block;
                    }

                    .table-content {
                        display: block;
                        margin-top: 0.5rem;
                    }
                }
            }
        }
    }

    @include mediaQuery(min-lg) {

        .table-striped > tbody td {
            border-bottom: 1px solid $gray-400 !important;
        }

        .table > :not(caption) > * > * {
            padding: 1rem 1.5rem !important;
        }
    }
}