@charset "UTF-8";

@import "../../../front/default/variables";
@import "../../../vendor/mixin/media-queries";
@import '../../../../scss/front/default/components/_vanilla-marquee.scss';

/* -----------------------------------------------------------------
    Module : Website alert
    Copyright : 2026
    Author : Sébastien FOURNIER <fournier.sebastien@outlook.com>
------------------------------------------------------------------ */

/*! purgecss start ignore */

#website-alert {

    z-index: 1000;
    width: 100%;
    max-width: $content-page-full-width;
    overflow: hidden;
    margin: 0 auto;

    .marquee {
        position: relative;
    }

    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        width: 75px;
        z-index: 5;
        pointer-events: none;
        display: inline-block;
    }

    &::before {
        left: 0;
        background: linear-gradient(to right, $primary 0%, rgba(255, 255, 255, 0) 100%);
    }

    &::after {
        right: 0;
        background: linear-gradient(to left, $primary 0%, rgba(255, 255, 255, 0) 100%);
    }

    &.top {
        top: 0;
    }

    &.bottom {
        bottom: 0;
    }

    .message {

        * {
            font-size: 15px;
        }

        a {
            text-decoration: underline !important;
        }

        p:last-child {
            margin-bottom: 0;
        }
    }

    #close-website-alert-wrap {
        top: 0;
        right: 0;
        font-size: 20px;
        z-index: 100;
    }

    .flip-container {

        position: relative;
        //height: 3em; // hauteur fixe à adapter selon le contenu
        overflow: hidden;
        perspective: 1000px;
        display: flex;
        align-items: center;
        justify-content: center;

        //@media (min-width: 768px) {
        //    height: 3.5em;
        //}
    }

    .flip-wrapper {
        position: relative;
        height: 100%;
        width: 100%;
        transform-style: preserve-3d;
        transition: transform $transition-slow;
        will-change: transform;
    }

    .flip-face {
        //position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        //display: flex;
        //align-items: center;
        //justify-content: center;
        //text-align: center;
        //padding: 0 1rem;
        //font-size: 1rem;
        line-height: 1.2;

        // Texte lisible : minimum AA en contraste
        @media (prefers-contrast: more) {
            //background-color: #fff;
            //color: #000;
        }
    }
}

body {

    position: relative !important;

    &.remove-alert-top {
        transition: margin-top $transition-base !important;
    }

    &.remove-alert-bottom {

        transition: margin-bottom $transition-base !important;

        #website-alert {
            transition: bottom $transition-base !important;
        }
    }
}

/*! purgecss end ignore */