@charset "UTF-8";

/* -----------------------------------------------------------------
    Module : Contact us
    Copyright : 2026
    Author : Sébastien FOURNIER <fournier.sebastien@outlook.com>
------------------------------------------------------------------ */

.contact-us-container {

    .bottom {

        .item {

            i {
                font-size: 40px;
            }
        }
    }
}