@charset "UTF-8";

/* -----------------------------------------------------------------
    Module : Form
    Copyright : 2026
    Author : Sébastien FOURNIER <fournier.sebastien@outlook.com>
------------------------------------------------------------------ */

@if ($enable-search-modal) {

    .search-container {

        .modal {

            .modal-body {
                z-index: 10;
            }

            .baseline {
                font-size: 17px !important;
                line-height: 1.2 !important;
            }

            .input-group {
                align-items: stretch;
                display: flex;
                flex-wrap: wrap;
                position: relative;
                width: 100%;
            }

            label {
                border-radius: 16px;
                box-shadow: inset 5px 5px 17px 5px rgba(0,0,0,0.13);
                background-color: $white;
            }

            .form-control {
                border: 1px solid transparent !important;
                border-right: 0 !important;
                border-radius: 16px 0 0 16px !important;
                background-color: transparent !important;
                box-shadow: none !important;
                color: $secondary !important;
                font-size: 1rem !important;
                font-weight: 400 !important;
                padding-left: 1.25rem !important;
                padding-right: 1.25rem !important;
                height: 50px !important;
                width: 100% !important;
            }

            .form-control::placeholder {
                color: $placeholder-color;
                font-family: $font-primary;
                font-weight: $placeholder-font-weight;
                font-size: 1rem;
            }

            .input-group-text {
                background-color: transparent !important;
                border: 1px solid transparent !important;
                border-left: 0 !important;
                width: 70px !important;
                border-radius: 0 16px 16px 0 !important;
                padding: 0 !important;
                align-items: center;
                justify-content: center;
                display: flex;
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.5;
                text-align: center;
                white-space: nowrap;
            }

            .wave-divider-top {

                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                overflow: hidden;
                line-height: 0;
                z-index: 0;

                svg {

                    width: calc(162% + 1.3px);
                    height: 148px;

                    .shape-fill {
                        fill: $beige;
                    }
                }
            }
        }
    }
}